@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin main-button($background: rgb(119, 119, 119), $color: white){
    border-radius: 15px;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: $background;
    color: $color !important;
}