@use '../../sass/variables' as *;
.button{
    width: 10vw;

}

.space{
    padding: 2rem;
}

a{
    border: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 800;
}



.card-container{
    display: flex;
    flex-direction: column;
    width: 15vw;
    transform: translate(8rem,-4rem);
    
}

.image-container{
    display: grid;
    grid-template-columns: 4, 1fr;
}

.image {
    width: 100%; 
    height: auto; /* A altura se ajustará automaticamente de acordo com a largura */
  }