@use '../../sass/variables' as *;
.button{
    width: 10vw;

}

.space{
    padding: 2rem;
}

a{
    border: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 800;
}

.home__card{
    display: flex;
    flex-direction: column;
}

.card-container{
    display: flex;
    flex-direction: column;
}