
.product-detail {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;

  &__cube-colors {
    display: flex;
    gap: 1rem;
  }

  &__sizes {
    display: flex;
    column-gap: 1rem;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__card {
    border-radius: 8px;
    border: 1px solid #ccc;

    p {
      padding: 1rem;
    }
  }

  &__description {
    p {
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid #ccc;
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 1%;

    button {
      background-color: #0C70F2;
      width: 638px;
      height: 47px;
      border-radius: 10px;
      margin-top: 50px;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 25px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  .h1{
    transform: translateY(-4rem);
  }
  .vertical-line {
    border-left: 1px solid #000; /* Largura e cor da linha */
  }
  
}