@use '../../sass/variables' as *;

.header_menu{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: #7A7A7A26;
}


.left-section{
    display: flex;
    gap: 2rem;
}

nav ul li{
    display: inline-block;
    transform: translate(0, 1REM);
    padding-left: 2rem;
    font-family: "Raleway";
    font-weight: 400;
    color: #000000;


}
img{
    max-width: 10vw;
}

.header-menu-logo{
    display: flex;
    font-family: "Raleway";
    font-weight: 600;
    color: #000000;
    gap: 0.5rem;
}

.header-menu-logo img{
    max-width: 1.5rem;
    transform: translateY(-0.4rem);
}