@use '../../sass/variables' as *;

.header_menu{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: #7A7A7A26;
}


.left-section{
    display: flex;
    gap: 2rem;
}

nav ul li{
    display: flex;
    flex-direction: row;

}